.card-list {
  max-width: 1360px;
}

@media screen and (min-width: @screen-lg) {
  .card-list {
    width: 1360px;
  }
}

.sub-section {
  .section-header {
    padding: 20px 0;

    h4 {
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  .section-footer {
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: @gray-ef 1px solid;
  }

  .card-spoiler {
    height: 597px;
    overflow: hidden;

    &.open {
      height: auto;
    }
  }
}

.recomended-channels {
  padding: 0;

  li {
    padding: 0;
  }

  .header {
    padding: 8px 16px;
  }

  .content {
    display: block;
    text-decoration: none;
    color: @gray-base;
    line-height: 40px;
    padding: 8px 16px;

    &::after {
      content: '';
      display: block;
      width: 0;
      height: 0;
      clear: both;
    }

    &:hover {
      background-color: @gray-lighter;
    }

    .icon {
      width: 40px;
      height: 40px;
      float: left;
      margin-right: 16px;
      text-align: center;

      i {
        color: @gray-ef;
        font-size: 24px;
        line-height: 40px;
      }

      img {
        width: 40px;
        height: 40px;
        border-radius: 20px;
      }
    }

    .name {
      float: left;
    }
  }
}
