.card-list {
  max-width: 1360px;
}

@media screen and (min-width: @screen-lg) {
  .card-list {
    width: 1360px;
  }
}

.section-header {

  margin-top: 20px;

  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 34px;
  }
}
