.mc-header {
  position: relative;
  margin-top: -30px;

  .c-cover {
    position: relative;
    width: 100%;
    max-height: 400px;
    overflow: hidden;
    z-index: 0;

    .c-cover-nav {
      position: absolute;
      width: 128px;
      left: 100%;
      top: 16px;
      margin-left: -128px;
      text-align: center;

      a {
        display: inline-block;
        color: @white;
        padding: 8px;
        margin: 0 4px;
        background: rgba(0,0,0,.2);
        text-shadow: 1px 1px 2px rgba(0,0,0,.5);
        width: 40px;
        height: 40px;
        border-radius: 20px;

        i:before {
          font-size: 16px!important;
          line-height: 16px;
          opacity: .85;
        }

        &:hover {
          i:before {
            opacity: 1;
          }
        }
      }
    }

    .d-layer {
      position: absolute;
      width: 100%;
      height: 100%;
      background: rgba(0,0,0,.5);
      z-index: 100;
    }

    img {
      width: 100%;
      z-index: 0;
    }
  }

  .header-card {
    z-index: 200;
    position: relative;
    background-color: @white;
    padding: 24px 16px;

    .header-description {
      &:after {
        content: '';
        display: block;
        width: 0;
        height: 0;
        clear: both;
      }

      .header-ava {
        float: left;
        width: 128px;
        border-radius: 64px;
        overflow: hidden;
        position: relative;
        cursor: pointer;

        &:hover {
          .ava-cover {
            display: block;
          }
        }

        .ava-cover {
          display: none;
          position: absolute;
          width: 100%;
          height: 100%;
          background: rgba(0, 0, 0, .5);

          i {
            position: absolute;
            width: 24px;
            height: 24px;
            top: 50%;
            margin-top: -12px;
            left: 50%;
            margin-left: -12px;
          }

          i::before {
            color: @white;
          }
        }

        img {
          width: 128px;
          height: 128px;
          border-radius: 64px;
        }
      }

      .header-content {
        width: ~"calc(100% - 128px)";
        float: left;
        padding-left: 24px;

        .description {
          position: relative;

          .form-control {
            display: none;
            position: absolute;
            top: 0;
            left: 0;
            border: none;
            padding: 0;
            background: @white;
          }
        }

        h2 {
          margin-top: 0;
        }

        .header-nav {
          margin-bottom: 16px;
        }
      }
    }

    .header-subs {
      text-align: center;
      float: right;

      .subscribers {
        font-size: 24px;
        color: @gray;
      }
    }
  }
}

.nav-mc {
  margin-top: 40px;

  a{
    font-weight: 600;
    text-transform: uppercase;
  }
}

.nav-sub-tabs {
  margin-bottom: 20px;

  li.active > a {
    background-color: @brand-secondary!important;

    &:hover {
      background-color: @brand-secondary!important;
    }
  }
}

.tab-content-mc {
  padding-top: 20px;
}
