.form-control {

	box-shadow: none;

	&:focus {
		box-shadow: none;
		border-color:  @brand-primary;
	}
}

.well {
	box-shadow: none;
}

.breadcrumb {

	a{
		//color:  @brand-primary;
	}
}

.btn {

	&:active {
		box-shadow: none;
	}
}

.btn-group.open {

	.dropdown-toggle {
		box-shadow: none;
	}
}

.btn-secondary {
	background-color: @brand-secondary;
	color: @white;

	&:hover {
		color: @white;
		background-color: darken(@brand-secondary, 10%);
	}
}