html, body {
	font-weight: 500;
}

.checkbox label, .radio label {
	font-weight: 500;
}

a {
	&:hover {
		text-decoration: none;
	}
}

.progress {
	box-shadow: none;
}

.breadcrumb {
	a{
		color: @gray-base;

		&:hover {
			color: @gray-dark;
		}
	}
}

.form-control {
	box-shadow: none;

	&:focus {
		box-shadow: none;
		border-color:  @brand-secondary;
	}
}

.has-warning {
	.form-control {
		box-shadow: none;
		border-color: @brand-warning;

		&:focus {
			box-shadow: none;
			border-color: @brand-warning;
		}
	}

	.control-label {
		color: @brand-warning;
	}
}

.has-error {
	.form-control {
		box-shadow: none;
		border-color: @brand-danger;

		&:focus {
			box-shadow: none;
			border-color: @brand-danger;
		}
	}

	.control-label {
		color: @brand-danger;
	}
}

.has-success {
	.form-control {
		box-shadow: none;
		border-color: @brand-success;

		&:focus {
			box-shadow: none;
			border-color: @brand-success;
		}
	}

	.control-label {
		color: @brand-success;
	}
}

.nav-pills {
	a {
		color: @gray-base;
	}
}

.nav-tabs {
	a {
		color: @gray-base;
	}
}

.well {
	box-shadow: none;
}

.btn {
	font-weight: 500;
	&:active {
		box-shadow: none;
	}
}

.btn-group.open {
	.dropdown-toggle {
		box-shadow: none;
	}
}

.btn-secondary {
	background-color: @brand-secondary;
	color: @white;

	&:hover {
		color: @white;
		background-color: darken(@brand-secondary, 10%);
	}
}

.badge {
	&.badge-secondary {
		background-color: @brand-secondary;
		color: @white;
	}

	&.badge-primary {
		background-color: @brand-primary;
		color: @white;
	}
}

.dropdown-menu {
	border: none;
	padding: 8px 0;
	box-shadow: 0px 0px 20px rgba(0,0,0,.175);

	li>a {
		font-weight: 500;
	}

	a.gray-bg {
		background-color: @gray-lighter;
	}

	&.arrow-top {
		&:after {
			width: 16px;
			height: 16px;
			content: " ";
			top: -16px;
	    left: 50%;
	    margin-left: -8px;
			position: absolute;
			border-left: 8px solid transparent;
      border-right: 8px solid transparent;
      border-bottom: 8px solid white;
		}
	}

	&.arrow-left {
		left: -8px!important;
		&:after {
			left: 0;
	    margin-left: 12px;
		}
	}

	&.arrow-right {
		&:after {
			left: 100%;
	    margin-left: -28px;
		}
	}

	.divider {
		margin: 0;
	}

	li {
		a {
			padding: 8px 16px;
			overflow: hidden;
		}

		a.btn {
			margin: 8px 16px;
			padding: 8px;
			color: @white;
			min-height: 0;
			font-weight: 600;

			&:hover {
				color: @brand-primary;
			}
		}
	}
}
