.form-control {

	box-shadow: none;

	&:focus {
		box-shadow: none;
		border-color:  @brand-primary;
	}
}

.well {
	box-shadow: none;
}

.breadcrumb {

	a{
		//color:  @brand-primary;
	}
}

.btn {

	&:active {
		box-shadow: none;
	}
}

.btn-group.open {

	.dropdown-toggle {
		box-shadow: none;
	}
}

.btn-secondary {
	background-color: @brand-secondary;
	color: @white;

	&:hover {
		color: @white;
		background-color: darken(@brand-secondary, 10%);
	}
}

.dropdown-menu {

	border: none;
	padding: 0;
	box-shadow: 0 0px 12px rgba(0,0,0,.175);

	.divider {
		margin: 0;	
	}

	a {
		padding: 8px 16px;
		min-height: 48px;
	}
}