// Tags
.tag-holder {
  background-color: @gray-lighter;
  border-radius: @border-radius-base;
  padding: 12px;

  .tag {
    background-color: @white;
    padding: 4px 8px;
    border-radius: @border-radius-base;
    border: @gray-ef 1px solid;
  }

  .tag-primary  {
    background-color: @brand-primary;
    border-color: @brand-primary;
    color: @white;
  }

  .tag-secondary {
    background-color: @brand-secondary;
    border-color: @brand-secondary;
    color: @white;
  }

  .rm {
    color: inherit;
    margin-left: 4px;
    background: transparent;
    border: none;
    width: 16px;
    &:hover {
      opacity: .5;
    }
  }
}
