.navbar-ep {
	width: 100%;
	background-color:  @white;
	border-radius: 0;
	box-shadow: 0 3px 5px rgba(0,0,0,.15);
	border: none;
	padding-top: 12px;

	.nav-group {
		padding: 8px;
		display: inline-block;
		width: 100%;

		&:after {
			content: ' ';
			display: block;
			height: 0;
			width: 0;
			clear: both;
		}

		&.nav-group-justified {
			margin: auto;
			width: auto;
		}
	}

	.nav-group-justified-conteiner {
		text-align: center;
	}

	.nav-el {
		display: block;
		position: relative;
		height: 30px;
		float: left;
		text-decoration: none;
		margin: 0 12px;

		i:before {
			color: #bababa;
		}

		&.nav-el-right {
			float:  right;
		}

		.badge-nav {
			position: absolute;
	    top: 0;
	    left: 100%;
	    margin-left: -10px;
	    margin-top: -4px;
	    min-width: 21px;
	    height: 21px;
	    font-size: 10px;
	    line-height: 15px;
	    padding: 1px 3px;
			border:  @white 2px solid;
		}
	}

	.dropdown-menu {
		width: 220px;
		left: -190px;
		top: 36px;

		.d-m-line {
			&.border-bottom {
				border-bottom: @gray-lighter 1px solid;
			}

			.icon {
				float: left;
				width: 36px;
				position: relative;

				&::after {
					content: ' ';
					display: block;
					width: 0;
					height: 0;
					clear: both;
				}

				img {
					width: 24px;
					height: 24px;
					margin-top: 3px;
					margin-left: 3px;
					border-radius: 12px;

					&.lg {
						width: 30px;
						height: 30px;
						border-radius: 15px;
						margin-left: 0;
					}
				}

				i {
					width: 24px;
					height: 30px;
					margin-left: 3px;
				}
			}

			.content {
				float: left;
				width: ~"calc(100% - 36px)";
				padding-top: 3px;
				padding-left: 8px;
				position: relative;
				//font-size: 13px;

				&.in-line {
					line-height: 30px;
					//font-weight: 600;
					font-size: 14px;
					padding-top: 0;

					.badge {
						margin-top: 6px;
					}
				}

				.strong	{
					font-weight: 600;
				}

				.annotation {
					color: @gray;
					margin-bottom: 0;
					font-weight: 500;
				}
			}
		}
	}

	.bages-cat {
		.label-default {
			background-color: #efefef;
			color: @gray;
			font-size:  14px;
			padding: 6px;
			position: relative;
			top: 2px;
		}
	}

	.navbar-right {
		text-align: right;
	}

	.add-button i:before {
		color: @brand-primary!important;
	}

	.menu-button i:before {
		color: @brand-secondary!important;
	}

	.logo {
		margin-top: 4px;

		img {
			height: 30px;
			width: auto;
		}

		&.logo-xs {
			margin-top: 4px;

			img {
				height: 24px;
				width: auto;
			}
		}
	}

	.search-group {
		border-bottom: #bababa 1px solid;

		.form-control {
			border-radius: 0;
			border:  none;
			height: 30px;
		}

		.input-group-addon {
			border: none;
			background: none;
			height: 30px;
			padding: 0!important;

			i::before {
				line-height: 30px;
				font-size: 16px;
				color: #bababa;
			}

			i {
				top: 0;
			}
		}
	}

	.mobile-search-form {
		width: 0;
		overflow: hidden;
		position: absolute;

		&.active {
			width: ~"calc(200% - 176px)";
			left: -100%;
			margin-left: 56px;
			-webkit-transition: width .3s cubic-bezier(0, 0, 0.03, 0.98);
			-webkit-transition-delay: 0.5s;
	            -moz-transition: width .3s cubic-bezier(0, 0, 0.03, 0.98);
	            -moz-transition-delay: 0.5s;
	        		-ms-transition: width .3s cubic-bezier(0, 0, 0.03, 0.98);
	        		-ms-transition-delay: 0.5s;
	        			-o-transition: width .3s cubic-bezier(0, 0, 0.03, 0.98);
	        			-o-transition-delay: 0.5s;
	           				transition: width .3s cubic-bezier(0, 0, 0.03, 0.98);
	           				transition-delay: 0.5s;
		}
	}

	.search-pic {
		font-size: 24px;
		line-height: 24px;

		&:hover {
			border: none;
			text-decoration:  none;
		}

		i:before {
			color: #bababa;
		}

		&.active {
			//left: -100%;
			margin-left: 16px;
			position: absolute;
			-webkit-transition: left .3s cubic-bezier(0, 0, 0.03, 0.98);
			//-webkit-transition-delay: 0.25s;
		      -moz-transition: left .3s cubic-bezier(0, 0, 0.03, 0.98);
		     // -moz-transition-delay: 0.25s;
		       -ms-transition: left .3s cubic-bezier(0, 0, 0.03, 0.98);
		      // -ms-transition-delay: 0.25s;
		        -o-transition: left .3s cubic-bezier(0, 0, 0.03, 0.98);
		       // -o-transition-delay: 0.25s;
		           transition: left .3s cubic-bezier(0, 0, 0.03, 0.98);
		         //  transition-delay: 0.25s;
		}
	}

	.alert-pic {
		font-size: 24px;
		line-height: 24px;

		&:hover {
			border: none;
			text-decoration:  none;
		}

		i:before {
			color: #bababa;
		}
	}

	.user-pic {
		img {
			width: 24px;
			height: 24px;
			border-radius: 12px;
		}
	}

	.nav-filter {
		border:  none!important;
		margin:  auto;

		a {
			color: @gray-base;
			font-weight:  600;

			&.active::after {
				content:  " ";
				display:  block;
				position: absolute;
				width: 20px;
				height: 4px;
				border-radius: 2px;
				background: @brand-primary;
				left: 50%;
				margin-left: -10px;
			}
		}
	}

	.btn-sign {
		margin-left: 0;
	}

	.nav-justified>li {
		display: table-cell!important;
		width: 1%;
	}

	.nav-justified>li>a {
		border:  none!important;
		margin: 0!important;
		border-radius: 0!important;
	}

	.nav-tabs.nav-justified>li>a {
		margin: 0!important;
	}
}

@media (max-width: @screen-sm) {

	.navbar-ep {
		.nav-el {
			margin-left: 6px;
			margin-right: 6px;
		}

		.nav-group-justified-conteiner {
			//text-align: left;
		}

		&.nav-group-justified {
			margin: 0;
		}
	}
}

@media (max-width: 1212px) {
	.navbar-ep {
		.bages-cat {
			display: none;
		}
	}
}
